{% extends "base.html" %}
{% block title %}Task{% endblock %}

{% block content %}
<div class="parent-container">
    <div class="task_box">
        <h2>Your Tasks</h2>
        <form action="{{ url_for('tasks.add_task') }}" method="POST" class="task_form">
            <input type="text" name="title" placeholder="New task" required>
            <button type="submit" class="btn" >Add Task</button>
        </form>

        <form method="get" action="{{ url_for('tasks.view_tasks') }}" class="sort-bar">
            <label for="sort">Sort by</label>

            <select name="sort" id="sort" onchange="this.form.submit()">
                <option value="id" {{ 'selected' if sort_by == 'id' }}>Latest</option>
                <option value="title" {{ 'selected' if sort_by == 'title' }}>Title (A–Z)</option>
                <option value="status" {{ 'selected' if sort_by == 'status' }}>Status</option>
            </select>
        </form>


        {% if tasks %}
        <!-- <form action="{{ url_for('tasks.clear_tasks') }}" method="post">
            <button type="submit" class="btn btn_clear">Clear all tasks</button>
        </form> -->
        <br>

        <table class="tasks_table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Task</th>
                    <th>Status</th>
                    <th>Change</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ task.title }}</td>
                        <td>
                            <span class="badge {{ task.status| lower }}">{{ task.status }}</span>
                        </td>
                        <td>
                            <form action="{{ url_for('tasks.toggle_status', task_id=task.id) }}" method="POST">
                                <button type="submit" class="btn_small">Done</button>
                            </form>
                        </td>
                        <td>
                            <form action="{{ url_for('tasks.delete_task', task_id=task.id) }}" method="POST">
                                <button class="btn_small" type="submit">Delete</button>
                            </form>
                        </td> 
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No tasks Yet, add one above</p>
        {% endif %}
    </div>
</div>    
{% endblock %}